.code-container {
    display: flex;
    align-items: flex-start;
    max-height: 600px; /* Set the max height */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .line-numbers {
    width: 40px;
    text-align: right;
    background-color: #000000;
    padding-right: 10px;
    user-select: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: 1px solid #990303;
    color: darkgray;
  }
  
  .line-number-text {
    display: block;
    text-align: right;
    line-height: 1.5;
  }
  
  .code-snippet {
    flex-grow: 1;
    overflow-x: auto;
    background-color: #070707;
    padding-left: 10px;
  }
  
  pre {
    margin: 0;
    padding: 0;
  }
  
  code {
    display: block;
    white-space: pre;
    color:azure;
  }
  

  ::ng-deep {
    .white {
        color: rgb(255, 255, 255);
    }
    .red {
        color: red;
    }

    .green {
        color: rgb(0, 255, 115);
    }

    .blue {
        color: rgb(167, 167, 244);
    }
    
    .colorNo1 {
        color: rgb(242, 244, 150);
    }

    .colorNo3 {
        color: rgb(143, 201, 255);
    }
    .colorNo3A {
        color: rgb(8, 134, 252);
    }

    .colorNo2 {
        color: rgb(221, 114, 75);
    }
    .colorNo2A {
        color: rgba(255, 182, 156, 0.968);
    }
    
    .colorNo4 {
        color: rgb(239, 110, 244);
    }

    .bckColorNo1{
        background-color:rgb(242, 244, 150);
    }

    .bckColorNo3{
        background-color: rgb(143, 201, 255);
    }
    
    .bckColorNo3A{
        background-color:  rgb(8, 134, 252);
    }

    .bckColorNo2{
        background-color: rgb(221, 114, 75);
    }

    .bckColorNo2A{
        background-color: rgba(255, 182, 156, 0.968);
    }

    .bckColorNo4{
        background-color: rgb(239, 110, 244);
    }


  }